<form action='/api/model' method='post'  class="dropzone" ref='uploadForm' encType="multipart/form-data">
    <div class="fallback">
        <input type="text"/>
        <input type="file" name="model_file" />
        <div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
    </div>
</form>