<html>
    <head>
        <title>404</title>
        <style>
            body{
                background-color: rgb(203, 231, 255);
                vertical-align: center;
                text-align: middle;
                height: 100vh;
            }
        </style>
    </head>
    
    <body> 
        <pre>
            {"404":"looking for something?"}
        </pre>
    </body>
</html>