
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AR meetings">
    <meta name="author" content="ARkiteam">

    <title>[AR]kitema</title>

    {{> includes}}
    
    <link href="/public/css/dropzone.min.css" rel="stylesheet">
    <link href="/public/css/meeting_details.css" rel="stylesheet">
    <script src="/public/js/dropzone.js"></script>
    <script src="/public/js/meetings_details.js"></script>


  </head>

  <body class="text-center">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="row square-container">
            

            <!-- build image targer and dropzones -->
            {{#each models as |model key|}}
            <div class="square"  style="background-image: url('/public/img/target_{{@key}}.jpg'); background-size: 100%";>
              
                <form action='/upload' method='post'  class="col-md-12 col-sm-12 content dropzone" id="upload-zone{{@jey}}"  encType="multipart/form-data">
                <input type="hidden" name="target_id" value="{{@key}}"/>
                <input type="hidden" name="meeting_id" value="5bebef457c400accf534af8d"/>
                <div class="fallback"><input type="file" name="model_file" /></div>
                </form>
            </div>            
            {{/each}}


            <!-- build targets footers -->
            {{#each models as |model key|}}
            <div class="footer card">

              <div clas="footer-content card-body" style="padding:5px;">

                {{#if model.name}}
                <div class="alert alert-success" role="alert">{{model.name}}</div>
                {{else}} 
                <div class="alert alert-secondary" role="alert">Target not used</div>
                {{/if}}

                <div class="input-group align-bottom">
                  <input type="number" class="form-control scale-{{@key}}" placeholder="Model scale" {{#unless model.name}}disabled{{/unless}} min="0" value="{{ model.scale }}">
                  <div class="input-group-append" >
                    <button type="button" class="btn btn-primary btn-scale" data-target-id="{{@key}}" {{#unless model.name}}disabled{{/unless}}>Scale</button>
                    <button type="button" class="btn btn-danger btn-delete" data-target-id="{{@key}}" {{#unless model.name}}disabled{{/unless}}>Delete</button>
                  </div>
                </div>
              </div>
            </div>      
            {{/each}}

            <div style="width: 100%;">
              <p>Light</p>
              <input type="range" id="slider" class="slider" min="30" max="180" value="90"  /><br />
            </div>

  
            <!--
            <form id="my-dropzone" class="dropzone">
              PROGR DROPZONE
                <input type="hidden" name="target_id" value="{{@key}}"/>
                <input type="hidden" name="meeting_id" value="5bebef457c400accf534af8d"/>

            </form>
            -->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>