<html>
    <head>
        <title>XD-AR Home</title>
        {{> includes}}
        <script src="/public/js/meetings_list.js"></script>
    </head>
    <body style="padding: 25px;">
        <center>
            <h1>Pages</h1>
            <div class="list-group" style="max-width: 200px;">
            {{#each meetings_list}}
                <button type="button" class="list-group-item list-group-item-action open-meeting" data-meeting-id={{@key}}>{{this}}</button>
            {{/each}}

            <button type="button" class="list-group-item list-group-item-action open-screenshots">Shared views</button>
            </div>
        </center>
    </body>
</html>