<html>
  <head>
        <title>S3 Bucket</title>
    </head>
  <body>

    <h1>Edit your account</h1>

    <hr>

    <h2>Your avatar</h2>

    <form method="POST" action="/sign-s3" enctype="multipart/form-data">
      <input type="file" name="uploaded_file">
      <input type="hidden" name="file_name" value="blabla">
      <input type="hidden" name="filet_type" value="image/jpeg">
      <button type="submit">UPLOAD</button>
    </form>

  </body>
</html>