
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shared views</title>

		{{> includes}}

		<link href="/public/css/screenshots.css" rel="stylesheet">
		<script src="/public/js/screenshots.js"></script>

	</head>
	<body class="text-center">

		{{#if screenshots_urls}}

			<div class="sidebar">
			{{#each screenshots_urls}}
				<div class="thumbnail-container">
					<img class="thumbnail-img" src="{{this}}" data-id="{{@key}}" />
				</div>
			{{/each}}
			</div>

			<div class="wrapper">

				

				<div class="main-image-container">
					<img class="main-img" src="{{ first_image }}"/>
					<canvas id="main-canvas"  class="main-canvas"></canvas>
				</div>

			</div>
		{{else}}
			<div class="no-images">This meeting has not shared screenshots</div>
		{{/if}}

	</body>
</html>