body{
    text-align: center;
    background-color: black;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    z-index: 2;
    margin-left: 100px;
}

.main-image-container{
    position: relative;
    max-width: 100%;
    display: inline-block
}

.main-img{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.main-canvas {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 100%;
    background-color: rgba(113, 255, 208, 0.1);
}


/* SIDEBAR STYLE */

.sidebar {
    position: absolute;
    left: 0;
    width: 100px;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    overflow-y: scroll;
    text-align: center;
    background-color: black;
    direction: rtl;
    text-align: left;
    border-right: 1px solid white;
    z-index: 1;
}
.thumbnail-container{

    margin: 5px;
    text-align: center;
    max-height:  100vh;
    max-width: 100%;
}

.thumbnail-container:hover{
    margin: 3px;
    border: 2px solid red;
}

.thumbnail-img{
    max-height:  100vh;
    max-width: 100%;
}





